appdirs==1.4.4
beautifulsoup4==4.9.3
black==21.5b1
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==8.0.0
cloudscraper==1.2.58
fastapi==0.65.1
idna==3.2
lxml==4.6.3
mypy-extensions==0.4.3
pathspec==0.8.1
pydantic==1.8.2
pyparsing==2.4.7
regex==2021.4.4
requests==2.25.1
requests-toolbelt==0.9.1
smaxpy==0.0.2
soupsieve==2.2.1
starlette==0.14.2
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3==1.26.4
